// Variables
$primary: rgba(30, 188, 245, 0.466);
$secondary: rgb(109, 220, 205);
$tertiary: rgb(242, 187, 103);


// Styling

body {
  background: white;
}

.App {
  text-align: center;
}

.home-header {
  display: flex;
  position: fixed;
  height: 100%;
}

.header-container {
  overflow: hidden;
  margin: 15px;
  width: 100%;
  height: 30px;
}

.header-line {
  border-bottom: 1px solid $primary;
}

.burger-toggle {
  background: white;
  height: 55px;
  width: 60px;
  animation-name: popin-menu;
  animation-duration: .1s;
}

.burger {
  width: 30px;
  margin: 15px;

  &:hover div{
    background: rgb(114, 114, 114);
  }

  .menu-piece {
    margin: 3px;
    background: black;
    width: 25px;
    height: 4px;
  }
}

.x-burger-toggle {
  display: flex;
  flex-direction: column;
  background: white;
  width: 300px;
  animation-name: popout-menu;
  animation-duration: .07s;
}

.x-burger {
  width: 30px;
  margin: 26px;

  &:hover div {
    background: rgb(114, 114, 114);
  }
}

.x-piece-one {
  margin: -3.5px;
    background: black;
    width: 25px;
    height: 4px;
    transform: rotate(45deg);
}
.x-piece-two {
  margin: -3.5px;
    background: black;
    width: 25px;
    height: 4px;
    transform: rotate(-45deg);
}

.nav-links {
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  animation-name: popout-menu;
  animation-duration: .1s;
}

.link {
  position: relative;
  margin: 10px;
  text-decoration: none;
  color: black;
  &:hover {
    color: rgb(114, 114, 114);
  }
}

// HOME ITEMS

.logo {
  width: 20%;
}

.home-container {
  background: $primary;
  padding: 25px 0 100% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-model-container {
  display: flex;
  justify-content: center;
  align-items: center;

    input {
      color: rgb(172, 172, 172);
      background: rgb(255, 255, 255);
      margin: 10px;
      padding: 5px;
      border-radius: 5px;
      width: 90%;
      height: 38px;
      font-size: 24px;
      text-align: center;
    }

    select {
      color: rgb(172, 172, 172);
      background: rgb(255, 255, 255);
      margin: 10px;
      padding: 5px;
      border-radius: 5px;
      width: 300px;
      height: 50px;
      font-size: 24px;

        option {
          text-align: center;
        }
  }
}

.checkout {
  color: $secondary;
      background: rgb(255, 255, 255);
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
      width: 300px;
      height: 50px;
      font-size: 24px;
}

.park-button {
  color: white;
  background: $secondary;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  font-size: 24px;
}

.map {
  width: 100%;
  height: 350px;
}

.timer-page {
  height: 100%;

  .timer {
  color: white;
  background: $secondary;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  }

}

// KEYFRAMES

@keyframes popout-menu {
  0% {
    width: 0%;
    height: 55px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes popin-menu {
  0% {
    width: 300px;
    height: 100%;
  }
  100% {
    border-right: 0;
    width: 60px;
    height: 55px;
  }
}